quickshell/ext_last_fr.py
quickshell/pixel_wave.py
quickshell/pixel-wave-close-video.py
quickshell/wave-check.sh
quickshell/lock.sh
quickshell/setwallpaper.sh
quickshell/wallpaper.sh
quickshell/videos/
